main{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows:  0.1fr 1fr;
}
    
.c1{

background-color: cadetblue;
padding: 1.5rem;
}

.c2{
background-color: blueviolet;

}

.c3{
background-color: brown;
}

.c4{
    background-color: chocolate;
}